*{
    box-sizing: border-box;
}
:root{
    --hoverTextColor:rgb(244, 51, 151);
    --textColor: rgb(87, 85, 85);
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--textColor);
}
.header{
    height: 72px;
    outline: 1px solid #ccc;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 350;
}
.headerleft,
.headerright{
    display: flex;
    align-items: center;
}
img{
    width: 100%;
}
.logocontainer{
    width: 155px;
}
.searchicon{
    width: 20px;
    margin: 6px;
}
.searchinputcontainer{
    max-width: 900px;
    height: 30px;
    margin-left: 30px;
    outline: 1px solid rgb(126, 126, 126);
    display: flex;
    border-radius: 3px;
    align-items: center;
    padding: 5px;
    position: relative;
}
form{
    width: 100%;
}
.inputsearch{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}
#closesearch{
    display: none;
}
.searchrecentmodal{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 35px;
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    height: 400px;
    width: 100%;
    display: none;
    padding: 15px;
}
.searchinputcontainer:focus-within .searchrecentmodal{
    display: block;
}
.recenticon{
    width: 20px;
    margin-right: 10px;
}
.recentitem{
    display: flex;
    align-items: center;
    
}

.mobileicon{
    width: 15px;
    margin: 5px;
}
.downloadcontainer{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 30px;
    position: relative;
}
.downloadcontainer:hover{
    color: var(--hoverTextColor);
    cursor: pointer;
}
.downloadcontainer p{
    margin: 0;
    padding: 10px;
    font-size: 17px;
}
.downloadbtn{
    display: block;
    width: 180px;
    margin-top: 5px;
}
.downloadhoverbtncontainer{
    position: absolute;
    bottom: 0;
    top: 60px;
    margin-left: -30px;
    width: 200px;
    display: none;
    height: 200px;
    padding: 10px;
    color: var(--textColor);
    background: white;
}
.downloadcontainer:hover .downloadhoverbtncontainer,
.downloadcontainer:focus .downloadhoverbtncontainer{
    display: block;
}
.profileandcart{
    display: flex;
    align-items: center;
}
.profileandcart:hover,
.profileandcart:focus{
    color: var(--hoverTextColor);
}
.profileicon,
.carticon{
    width: 30px;

}
.profileandcart p{
    padding: 0;
    margin: 0;
}
.profilecontainer,
.cartcontainer{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.becomesellercontainer{
    padding: 0px 30px;
    border-left: 1.5px solid #ccc;
    border-right: 1.5px solid #ccc;
    font-size: 17px;
}

nav{
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 54px;
}
nav ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100%;
    align-items: center;
    margin: 0;
    position: relative;
    
}
nav ul li{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    
}
nav ul li:hover{
    color: var(--hoverTextColor);
    border-bottom: 4px solid var(--hoverTextColor);
    
}
/*module box submenu*/
.subMenu{
    position: absolute;
    /* height: 400px; */
    top:51px;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: none;
    margin: 0px 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    padding: 20px;
}

nav ul li:hover .subMenu{
    display: block;
}

.subMenu p{
    color:var(--textColor)

}
.submenuList{
    display: flex;

}
.column{
    margin-right: 40px;
}



/**lowest price***/
.lowestpriceContainer{
    display: flex;
    margin:50px auto;
    max-width: 1100px;
    /* background-color: red; */
}
.lowestpriceContainer h1{
    font-size: 40px;
    margin: 0;
    color:rgb(36, 31, 31);
}
.lowestPrice_text{
    width: 50%;
    padding: 25px 0 0 25px;
}
.lowestPrice_image{
    width: 50%;
}
.lowestPrice_icon{
    width: 30px;
    border-radius: 40px;
    background-color: rgb(238, 133, 187);   
}
.lowestPriceWhay{
    display: flex;
    height: 50px;
    margin: 20px 0;
}
.lowestPriceItem{
    padding:  0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ccc;
}
.lowestPriceItem p{
    padding-left: 10px;
}
.downloadApp_contianer{
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: var(--hoverTextColor);
    border:none;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    color:white;
}
.downloadApp_contianer p{
    padding: 0px 20px;
}



/* /topCategoriesFrom/ */
.topCategoriesFrom{
    width: 1100px;
    margin: auto;
}
.topCategoriesHeading{
    display: flex;
    align-items: center;
    
}
.horizontalLine{
    padding: 1px;
    background-color: var(--hoverTextColor);
    width:50%;
}
.topCategoriesHeading h1{   
    width: max-content;
    width: 1050px;
    color:rgb(8, 8, 8);
    font-size: 38px;
    margin: 0;
}
.topCategoreisImage{
    width: 100%;
    height: 500px;
    background-image: url("https://images.meesho.com/images/marketing/1649759774600.jpg");
    background-repeat: no-repeat;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}
.topCategoreisImage img{
    max-width: 300px;
    margin: 10px;
    bottom: 0;
}
.topCategoreisImage img:first-child{
    max-width: 400px;
}

/**/
.essentialContaienr{
    width: 100%;
    height: 500px;
    background-color: 400px;
    margin-top: 50px;
    background-image: url("https://images.meesho.com/images/marketing/1664343269674.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.essentialContaienr img{
    max-width: 180px;
}


.essential_item{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.essen-btn{
    margin-left: 100px;
    margin-top: 20px    ;
}